{{page-title "Explorer"}}

<section>
  <h1>EmberJS Book Explorer - Explorer Page</h1>

  <div>
    <h3>Selecciona un tópico:</h3>
    <p id="topic-selected">Tópico seleccionado: {{this.topicSelected}}</p>

    <Ui::Dropdown
      @name="topic-select"
      @id="topic-select"
      @options={{this.topicOptions}}
      @onChange={{this.onChange}}
    />
    <Ui::Button
      @id="btn-fetch"
      @name="btn-fetch"
      @style="primary"
      @label="Fetch"
      @onClick={{this.getBooks}}
    />
  </div>

  <Ui::Books @books={{this.books}} />
</section>